@charset "ISO-8859-1";

.show-on-unpublish .show-on-published{
    display:none;
}

.status-published .show-on-published{
    display:initial;
}

.status-published .show-on-unpublish{
    display:none;
}

.status-unpublish .show-on-published{
    display:none;
}

.status-unpublish .show-on-unpublish{
    display:initial;
}

.icon-unpublish:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0);
    font-size: 18px;
    content: "\f070";
    color:red;
}

.icon-published:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0);
    font-size: 18px;
    content: "\f06e";
    color:green;
}

.icon-configure:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0);
    font-size: 18px;
    content: "\f0ad";
    color:orange;
}

.category-list{
    list-style-type: none;
    -webkit-padding-start: 24px;
    max-height: 400px;
    overflow-y:  auto;
}

.btn-spec-edit, .spec-edit .btn-spec-view{
    display:none;
}

.spec-edit .btn-spec-edit{
    display:inline-block;
}