@CHARSET "UTF-8";

/* MY ORDER */
.order-table {
	width: 100%;
	margin-bottom: 20px;
	border: none;
	background: #fff;
}
.order-table a:hover {
	text-decoration: underline;
}

.order-table tr > th,
.order-table tr > td {
	padding: 12px 20px;
}

.table thead,
.order-table thead {
	border: 1px solid #081433;
	background: #081433;
	color: white;
}

.table thead tr th,
.order-table thead > tr > th {
	border: none;
}

.order-table .prod-thumb {
	border: none;
}

.order-table .prod-wrapper{
	display:inline-block
	
}
.order-table .prod-wrapper .prod-name{
	color:#000;
	font-weight:bold;
}
.order-table .order-item > td a:not(.prod-name) {
	font-size: .85em
}

.order-table .order-item.removing {
	opacity:0.5;
}

table.order-table td.empty{
	content: '';
	border: 0px;
}

table.order-table td.sub-total-val{
	text-align: right;
}

.coupon-content > input {
	width: 50%;
	margin: 12px;
    padding: 22px 12px;
	display: inline-block;
}

.order-table .discount-list{
	color: green;
}

.order-table .discount-list .discount-warning{
	color: #d9831f;
}

.discount-list .discount-text-warning{
	display:none;
}

.order-table .discount-list .discount-warning .discount-text-warning{
	display:block;
	font-size:12px;
}

#invoice{
	padding: 15px;
	background-color:#fff;
}


/* INVOICE */
#invoice table tr > th,
#invoice table tr > td {
	padding: 12px 20px;
}

.shipment-list .spacer{
}

.shipment-list .options .customer-note{
	padding-top: 8px;
	padding-bottom: 16px;
	padding-left: 20px;
	font-weight: bold;
}

.shipment-list .options label{
	font-size: medium;
	font-weight: bold;
}

.shipment-list h3{
	margin: 0px;
}