@CHARSET "UTF-8";

.cart-preview > li.cart-item > a {
    padding-left: 7px;
    display:block;
}

.cart-preview .qty-wrapper{
    min-width: 32px;
    display: inline-block;
    text-align: right;
}

.wish-preview .remove-wrapper{
    position: absolute;
    padding: 7px;
    cursor: pointer;
    font-weight: bold
}

.wish-preview .remove-wrapper:hover{
    color: #bf200f;
}

.cart-preview.dropdown-menu{
    padding: 0px 0;
}

.cart-preview .cart-footer a{
    padding: 10px 14px;
    border-top: 1px solid #ccc;
    display: block;
    width:100%;
    min-width: 250px;
    color: #fff !important;
}
.cart-preview .cart-footer a:hover, .cart-preview .cart-footer a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #bf200f !important;
}

.cart-preview .cart-view-btn{
    float:left;
    font-weight: bold;
}
.cart-preview .cart-footer .cart-total{
    font-weight:bold;
    float:right;
}

.cart-preview .qty-wrapper .qty{

}

.cart-preview .qty-wrapper .qty.badge{
    
    background-color: #808080;
}

.cart-preview .just-added .qty-wrapper .qty.badge{
    
background-color: #d9230f;
}

.cart-preview .thumb, .wish-preview .thumb{
    height:30px;
}

.cart-preview .title-wrapper .title, .wish-preview .title-wrapper .title
{
    color: #000;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.cart-preview .title-wrapper, .wish-preview .title-wrapper{
    height: 31px;
    overflow:hidden;
    display: inline-block;
    line-height: 1;
    width: 150px;
    padding-top: 2px;
    margin-bottom: -12px;
}