@CHARSET "UTF-8";

.prod-price {
	font-weight: bold;
	display: block;
}

.prod-price .cents:before{
	content:"."
}

.prod-price .was-price .symbol:before{
	content: "WAS "
}

.prod-price .was-price{
	white-space:nowrap;
	text-decoration: line-through;
	color: #666;
}

.prod-price .cents.zeros{
	display:none;
}

.product-tile {
	margin: 0px -13px;
	color: #000;
}

.product-tile .spacer {
	margin-bottom: 4px;
}

.product-tile .spacer:hover{
	border: 1px solid #337ab7;
}

.product-tile img[data-failed-img] {
	content:url("../../images/shop/no-image.png");
}

.product-tile img {
	width: 100%;
}
.product-tile a {
	text-decoration: none;
	outline: none;
}

.product-tile .prod-name {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 5px;
}
.product-tile .prod-name-area {
	height:40px;
	overflow:hidden;
	padding-left: 0px;
	padding-right: 0px;
	text-align:center;
}
.product-tile .prod-name:hover {
	text-decoration: underline;
}

.product-tile .prod-name:active {
	opacity: .85;
}

.product-tile .prod-code:before {
	content:"Model: "
}
.product-tile .prod-code {
	font-size: 12px;
	display: block;
	color: #999999;
	text-align: center;
	white-space: nowrap;
}

.product-tile .prod-price {
	font-size: 27px;
}
.product-tile .prod-price.discounted .now-price{
	color: #c42409;
}
.product-tile .prod-price .now-price .symbol, .product-tile .prod-price .now-price .cents{
	font-size: 18px;
}

.product-tile .prod-price .was-price{
	font-size: 12px;
	display: block;
	height: 12px;
	margin-top: -4px;
}

.product-tile .btn-tile {
	white-space: nowrap;
	display: inline-block;
	font-size: 10px;
	padding: 3px 16px;
	margin: 4px 0px;
}

.product-tile .btn-area{
	height: 30px;
}

.product-tile .outofstock {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	padding: 0px;
	color: #666;
}

.product-tile .btn-addtocart {
	color: #fff;
}

.product-tile.has-ordered .btn-addtocart {
	background: #4CAF50;
	border-color: #8BC34A;
}

.save-indicator{
	position:absolute;
	top: 0px;
	right:0px;
	font-size: 18px;
	color: #fce727;
	opacity: 0;
	z-index: 200;
	outline: none;
	
	-webkit-transition: transition: all 1s ease-in-out; ; /* Safari */
    transition: transition: all .2s ease-in-out; 
}

.save-indicator:hover {	
	color: #fce727;
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
}

.save-indicator:focus{
	color: #fce727;
	outline: none !important;
}

.product-unsaved .unsaved{
	color: #ccc;
}

.product-unsaved:hover .save-indicator{
	opacity: 1;
}

.product-saved .save-indicator{
	opacity: 1;
}

.product-unsaved .saved, .product-saved .unsaved{
	display:none;
}

.product-details .btn-save-later{
	margin-right: 8px;
	margin-bottom: 15px;
}

.product-details.product-saved .btn-save-later{
	background-color: #ccc;
	border-color: #aaa;
}

.product-details .no-image{
	display:none;
}

.product-tile .has-ordered .btn-addtocart
{
	background: #ccc;
}

.product-filter-bar {
	margin: 0;
	border-top: 0;
}

.product-filter-bar .glyphicon-filter {
	color: #777;
}

#area-content .navbar-nav > li > a.dropdown-toggle {
	border: 1px solid #ccc;
}


#area-content .navbar-default {
	border: none;
	background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
	padding: 0;
}

.dropdown-menu li > label {
	line-height: 2em;
}
#product-filter-bar .nav li .dropdown-menu  li{
	padding-left: 8px;
}
#product-filter-bar .nav li .dropdown-menu  li > label {
    background: none;
    color: #333;
    height: 20px;
    padding: 0px;
    padding-left: 25px;
}
 
.dropdown-menu li > label:hover, .dropdown-menu li > label:focus {
	background: #f4f7fe;
	color: #333;
	font-weight: bold;
}

.product-tile a:focus {
	outline:none;
}

#product-filter-bar .glyphicon {
    margin-left: 6px;
}

#product-filter-bar .navbar-nav {
    border: 1px solid #ccc;
    margin: 15px -15px;
}

#product-filter-bar .navbar-right {
    border: 0px;
}

.listed-prod{
	border: none;
}


.product-details {
    display:inline-block;
}

.product-details .spacer{
    float: left;
}

.product-details h3 {
	margin: 20px 0;
}

.product-tile .spacer {
	padding: 10px 20px;
}

.product-details span {
}

.product-details .prod-price{
	display: inline-block;
	text-align:center;
	float:right;
}

.product-details .img-thumbnail {
	cursor: pointer;
	max-width: 120px;
	max-height: 90px;
}

.product-details .img-thumbnail:hover {
	border-color: #bbb;
}

.product-details .img-thumbnail:active {
	border-color: #ccc;
}

.product-details .prod-description{
	min-height: 66px;
}


.product-details p {
	margin-bottom: 16px;
}

.product-details .btn {
	width: 100%;
	line-height: 1.5em;
	outline: none;
}

@media (min-width: 1200px){
	.listed-prod.col-lg-2{
		width: 20%;
	}
}

@media (max-width: 750px){
	.product-details .well-lg{
		padding: 8px 8px;
	}

	.product-list{
		margin-left : -15px;
		margin-right : -15px
	}
	
	.product-list .spacer{
		padding: 5px;
	}
}