.search-item-result{
    position: absolute;
    display: block;
    margin-top: 36px;
    background-color: white;
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    color: #999;
    font-style: italic;
    z-index: 5;
}

.search-item-result > ul{
    -webkit-padding-start: 8px;
    list-style-type: none;
}

.search-item-result > ul li{
}

.search-item-result > ul li a{
    display: block;
    width: 100%;
}

.search-item-result .search-found{
    
}